@charset "utf-8";
*{/*通配选择器*/
    margin: 0;
    padding: 0;
}



/*分组选择器（并集选择器）： .div1,div2,div3{}
    属性选择器：a[href][title]{}*/
.position1{
    position: static;/*采用static的定位方式后，设置距离是无效的*/
    width: 100px;
    height: 100px;
    background: red;
    z-index: 1;
}

.position2{
    width: 200px;
    height: 200px;
    background: blue;
    position: absolute;/*绝对定位，
                            如果父级元素未指定定位方式，子元素会脱离父元素进行定位；
                            如果父级元素采用了absolute，fixed，relative三种定位方式，子元素则相对于父级元素去定位*/
    top: 66px;
    left: 20px;
    z-index: -1;/*z-index 控制div的堆叠顺序，默认为0，数值越大优先级越高
                    如果父级元素、子元素未采用定位方式，z-index失效*/
}
.img{
    clip: rect(10px,100px,10px,100px);
}
.position3{
    width: 100px;
    height: 100px;
    background: darkolivegreen;
    position: relative;/*相对定位，相对父级元素定位，采用相对定位后，原本的空间还在，还被该元素占据*/
    top: 50px;
}
.position4{
    width: 100px;
    height: 100px;
    background: mediumaquamarine;
    position: fixed;/*放在固定位置*/
    right: 0px;
    bottom: 50px;
}

.center{
    width: 200px;
    height: 200px;
    background: peachpuff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}